{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="{% static 'm.css' %}">
    <meta charset="UTF-8">
    <title>Title</title>
</head>

<body>
<h1 class="heading">
<img src="{%static "images/krish.jpj.jpg" %}" alt='image not found' height='100' width='100'  /></h1></br>
<div>
    <h1 class="heading">Finance</h1>
    <button type="button">Add Admission </button></br>
    <button type="button">Admission Report </button></br>

</div>
<div>
    <h1 class="heading">Admissions</h1>
    <button type="button">Add Finance </button></br>
    <button type="button">Finance Report </button>

</div>
</body>
</html>